img{
    width: 20px;
    border: none;
}

.faq-container{
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.faq{
    width: 100%;
    border-radius: 5px;
    padding-left: 0px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.faq.active{
    width: 100%;
    background-color: white;
    padding: 0;
}

.faq-title{
    width: 650px;
    height: 30px;
    align-items: center;
    margin:  0;
    background-color: #FF6060;
    padding-left: 10px;
    padding-top: 10px;
    color: white;
    border-radius: 6px;
}

.faq-text{
    width: 630px;
    height: 100%;
    display: none;
    padding: 15px;
    margin: 0;
    background-color: #F7F7F7;
}

.faq.active .faq-text{
    display: block;
}

.faq-toggle{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
    bottom: 140px;
    right: 20px;
}

.chevronD{
    position: absolute;
    top: 97px;
    left: 650px;
}

.chevronU{
    position: absolute;
    top: 10px;
    left: 650px;
}

.faq-toggle .chevronU{
    display: none;
}

.faq.active .faq-toggle .chevronU{
    display: block;
}

.faq.active .faq-toggle .chevronD{
    display: none;
}

.faq.active .faq-toggle{
}

@media all and (max-width: 415px){

    .faq-title{
        width: 350px;
        height: 30px;
    }

    .faq-text{
        width: 330px;
        height: 100%;
        display: none;
        padding: 15px;
        margin: 0;
        background-color: #F7F7F7;
    }

    .faq{
        width: 100%;
    }

    .faq-container{
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .faq.active{
        width: 100%;
    }

    .chevronD{
        position: absolute;
        top: 97px;
        left: 345px;
    }
    
    .chevronU{
        position: absolute;
        top: -115px;
        left: 345px;
    }
}

@media all and (min-width: 416px) and (max-width:820px){

    .faq-title{
        width: 100%;
    }

    .faq-text{
        width: 100%;
        height: 100%;
        display: none;
        margin: 0;
        background-color: #F7F7F7;
    }

    .faq{
        width: 100%;
    }

    .faq-container{
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .faq.active{
        width: 100%;
    }

    .chevronD{
        position: absolute;
        top: 97px;
        right: 0;
    }
    
    .chevronU{
        position: relative;
        bottom: 300px;
        right: 0;
    }

    .faq.active .faq-toggle .chevronU{
        display: block;
        bottom: 20px;
    }
}
